


.months-container{
    display:flex;
    justify-content: space-between;
}

.months-container li {
    padding:5px;
}

.months-container li:hover {
cursor: pointer;
}

.stat-container{
    margin: 0 auto;
    width: 80%;
}

.App{
    height: 540px;
}