

.edit-container-inputs{
    display:flex;
    flex-direction: column;
}

.edit-container{
    width: 60%;
    margin: 0 auto;
}

h1{
    text-align: center;
}


.btn-edit-container{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}

.edit-input-item{
    height: 30px;
    border-radius: 5px;
}

.input-title{
    margin-bottom: 20px;
}

.img-delete-wraper{
    display: flex;
    justify-content: flex-end;
    margin-top:30px;
}
.img-delete-wraper img{ 
    height: 30px;
    width: 30px;
}