

.edit-container-inputs{
    display:flex;
    flex-direction: column;
}

.edit-container{
    width: 60%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.btn-container{
    margin: 0 auto;
    margin-top:20px;
    justify-content: space-around;
}