



.details-title{
text-align: center;
}

.details-img{
    height: 85px;
    width: 100px;
}

.btn-back-details{
    margin-bottom: 20px;
}
.details-container{
    display: flex;
    flex-direction: column;
    padding:20px;
}

.btns-details-container{
    display: flex;
    justify-content: space-between;
}
