
body{
    background: aliceblue;
}

li{
list-style: none;
}

h1{
    align-self: center;
}

.home-header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    min-width: 250px;
    max-width: 550px;
    overflow-x: auto;
    height: 455px;
}
.moves-sep{
    border-bottom: 1px solid black;
}