

img{
    height: 50px;
    width: 50px;
}

.contact-header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}

.user-item{
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    width:80%;
    background: #eff4f4;
    box-shadow: 0px 0px 6.5px 0.5px;
    transition: 0.4s;
}

.user-item:hover{
    cursor: pointer;
    padding: 2px;
    background: beige;
}

.search-input{
    font-size: 18px;
    margin: 0 auto;
    display: list-item;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 60%;
    min-width: 200px;
    max-width: 570px;
    height: 40px;
    border-radius: 5px;
    background: lightgray;
}

.contact-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-x: auto;
    min-width: 270px;
    max-width: 500px;
    width: 80%;
}


.btn-back-contact{
    margin-bottom: 20px;
}

.user-link{
    text-decoration: none;
    color: #4a405c;
}

.btn-add-contact {
    right: 20%;
    bottom: 100px;
    position: fixed;
}